
.text_align{
  text-align:center;/*positioning text in center*/
}

.webix_view .webix_dtable{
  background-color:rgb(245, 249, 255);/*background color of datatable*/
}

.gray_background{
  background-color:rgb(230, 233, 237);/*background color of list section*/
}

.green_text{
  color:green; /*green text*/
}

.rank{
  background-color:rgb(244, 245, 249);/*background color of rank column*/
}

.datatable_hover.webix_cell{
  background-color:rgb(133, 175, 242);/*background color of datatable hover rows*/
}
